.OuterContainer {
	/* background-color: #222 !important; */
	color: white;
	text-align: center;
}
h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 6rem !important;
}

p {
	font-size: 3rem;
}

.InnerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

@media only screen and (max-width: 1350px) {
	img {
		height: 600px;
	}

	.InnerContainer {
		flex-direction: column-reverse;
	}
	p {
		font-size: 2rem;
	}
	h1 {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 600px) {
	img {
		height: 300px;
	}
}
