.card {
	width: 450px;
}

@media (max-width: 550px) {
	.card {
		width: 350px;
	}
}
@media (max-width: 450px) {
	.card {
		width: 300px;
	}
}
@media (max-width: 375px) {
	.card {
		width: 300px;
	}
}
@media (max-width: 320px) {
	.card {
		width: 270px;
	}
}
